@import "variables";
@import "general";

.container {
    flex-direction: column;

    .bar_status {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 14px;
        margin-bottom: 18px;
        box-shadow: 0px 8px 24px 0px rgba(17, 23, 61, 0.8);
        z-index: 1;

        h1 {
            text-align: center;
            font-family: "Rajdhani";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: $third;
            margin: 0px;
        }
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .game_img {
            mix-blend-mode: difference;
            position: relative;

            &:before {
                content: " ";
                position: absolute;
                background: linear-gradient(
                    0deg,
                    #121d33 0%,
                    rgba(18, 29, 51, 0.83) 23.44%,
                    rgba(18, 29, 51, 0.61) 46.35%,
                    rgba(18, 29, 51, 0) 100%
                );
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 0;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
        .text_group {
            position: absolute;
            z-index: 1;
            margin-left: 24px;
            margin-right: 40px;

            h1 {
                font-family: "Rajdhani";
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                color: $third;
                margin: 0px;
            }

            p {
                font-family: "Inter";
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
                color: $third;
                margin: 0px;
                margin-top: 12px;
                margin-bottom: 24px;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 24px;

        .title_players {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            h1 {
                font-family: "Rajdhani";
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                color: $third;
                margin: 0px;
            }

            p {
                text-align: right;
                font-family: "Inter";
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 17px;
                color: $third_2;
                margin: 0px;
            }
        }

        .players {
            display: flex;
            flex-direction: column;

            .item_player {
                display: flex;
                align-items: center;
                
                .player_img {
                    border-radius: 8px;
                    border-style: solid;
                    border-width: 1px;
                    border-color: #243189;
                    width: 48px;
                    line-height: 0;
                    overflow: hidden;
                }

                .player_name {
                    margin-left: 16px;

                    h2 {
                        font-family: Rajdhani;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        color: $third;
                        margin: 0px;
                    }

                    .player_status {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        gap: 8px;

                        .status {

                        }

                        span {
                            font-family: Inter;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 17px;
                            color: $third_2;
                            margin: 0px;
                        }
                    }
                }
            }

            .line {
                right: -64px;
                position: relative;
                background: linear-gradient(270deg, #1d2766 0%, #171f52 100%);
                width: 100%;
                height: 1px;
                margin-bottom: 12px;
                margin-top: 12px;

            }
        }
    }

    footer {
        border-radius: 8px;
        background-color: $secundary;
        margin: 0px auto;
        margin: 0px;
        margin-top: 117px;
        margin-bottom: 30px;
        margin-left: 24px;
        margin-right: 24px;


        a {
            display: flex;
            text-decoration: none;
            align-items: center;

            .discord {
                padding: 19px 16px;
                border-right: 1px solid $line;
                height: 100%;
                display: flex;
            }

            span {
                font-family: "Inter";
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: 25px;
                color: $third;
                width: 100%;
                text-align: center;
                padding: 0px 30px;
            }
        }
    }
}
