@import "variables";
@import "general";

.container {
    flex-direction: column;
    position: relative;

    .bar_status {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
        background: linear-gradient(0deg, #1d2766 0%, #171f52 100%);
        box-shadow: 0px 8px 24px 0px rgba(17, 23, 61, 0.8);
        z-index: 1;

        h1 {
            text-align: center;
            font-family: "Rajdhani";
            font-size: 20px;
            font-weight: 700;
            color: $third;
            margin: 0px;
            margin-left: 77px;
            margin-top: 14px;
            margin-bottom: 18px;
        }
    }

    header {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 24px;
        margin-right: 24px;

        h1 {
            font-family: "Rajdhani";
            font-size: 18px;
            font-weight: 700;
            color: $third;
            margin: 0px;
            margin-top: 32px;
            margin-bottom: 12px;
        }

        .categories {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            margin-bottom: 40px;

            .item_category {
                display: flex;
                flex-direction: column;
                width: 104px;
                height: 120px;
                border-radius: 8px;
                border: 1px solid #243189;
                background: linear-gradient(0deg, #1d2766 0%, #171f52 100%);
                align-items: center;
                justify-content: center;
                text-decoration: none;

                .box {
                    display: flex;
                    border-radius: 2px;
                    border: 1px solid #243189;
                    background: linear-gradient(180deg, #0e1647 0%, #0a1033 100%);
                    width: 8px;
                    height: 8px;
                    margin-bottom: 12px;
                    margin-right: -80px;
                }

                img {
                    width: auto;
                    height: 48px;
                    margin-bottom: 16px;
                }

                p {
                    text-align: center;
                    font-family: "Rajdhani";
                    font-size: 15px;
                    font-weight: 700;
                    color: $third;
                    margin: 0px;
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        margin-right: 24px;

        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 8px;
            border: 1px solid #243189;
            text-decoration: none;
            width: 100%;

            .server_selection {
                width: 64px;
                height: 68px;
                border-radius: 8px;
                border: 1px solid #243189;
                background: linear-gradient(0deg, #1d2766 0%, #171f52 100%);
            }

            p {
                font-family: "Rajdhani";
                font-size: 18px;
                font-weight: 700;
                line-height: normal;
                color: $third;
                margin: 0px;
            }

            .major {
                margin-right: 34.34px;
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            margin-top: 28px;

            .date_hour {
                display: flex;
                flex-direction: row;
                gap: 15px;

                .date_btn {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-family: "Rajdhani";
                        font-size: 18px;
                        font-weight: 700;
                        color: $third;
                        margin: 0px;
                        margin-bottom: 12px;
                    }

                    input[type="text"] {
                        font-family: "Inter";
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 17px;
                        color: $third_2;
                        margin: 0px;
                        padding-left: 16px;
                        width: 156px;
                        height: 48px;
                        border-radius: 8px;
                        border: 1px solid #243189;
                        background: linear-gradient(0deg, #1d2766 0%, #171f52 100%);
                    }
                }

                .hour_btn {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-family: "Rajdhani";
                        font-size: 18px;
                        font-weight: 700;
                        color: $third;
                        margin: 0px;
                        margin-bottom: 12px;
                    }

                    input {
                        font-family: "Inter";
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 17px;
                        color: $third_2;
                        margin: 0px;
                        padding-left: 16px;
                        width: 156px;
                        height: 48px;
                        border-radius: 8px;
                        border: 1px solid #243189;
                        background: var(--shapes-boxes, linear-gradient(0deg, #1d2766 0%, #171f52 100%));
                    }
                }
            }
            .textarea {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 28px;
                margin-bottom: 12px;

                label {
                    font-family: "Rajdhani";
                    font-size: 18px;
                    font-weight: 700;
                    color: $third;
                    margin: 0px;
                }
                span {
                    font-family: "Inter";
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 17px;
                    color: $third_2;
                    margin: 0px;
                }
            }
            textarea {
                width: 100%;
                height: 95px;
                resize: none;
                border-radius: 8px;
                border: 1px solid #243189;
                background: linear-gradient(0deg, #1d2766 0%, #171f52 100%);
            }
        }
    }
    footer {
        border-radius: 8px;
        background-color: $secundary;
        margin: 0px;
        margin-top: 56px;
        margin-bottom: 10px;
        margin-left: 24px;
        margin-right: 24px;
        padding-top: 15px;
        padding-bottom: 15px;

        a {
            display: flex;
            text-decoration: none;
            align-items: center;

            span {
                font-family: "Inter";
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                color: $third;
                width: 100%;
                text-align: center;
            }
        }
    }

    .modal {
        flex-direction: row;

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 10;
        height: 100%;

        .background_opacity {
            opacity: 0.7;
            background-color: #000;
            height: 100%;
            top: 0;
            padding: 0px;
        }
        .footer {
            z-index: 2;
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 24px;
            padding-bottom: 6px;
            background: linear-gradient(180deg, #0e1647 0%, #0a1033 100%);
            position: absolute;
            bottom: 0;
            width: 100%;

            .text_modal {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .text_regular {
                    color: $third;
                    font-family: "Rajdhani";
                    font-size: 24px;
                    font-weight: 500;
                }
                .text_bold {
                    color: $third;
                    font-family: "Rajdhani";
                    font-size: 24px;
                    font-weight: 700;
                }
                .text_red {
                    color: $secundary;
                    font-family: "Rajdhani";
                    font-size: 24px;
                    font-weight: 700;
                }
            }
            .button_modal {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 8px;
                margin-top: 23px;
                margin-bottom: 6px;

                .button_left {
                    border: 1px solid;
                    border-color: #495bcc;
                    border-radius: 8px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    a {
                        text-decoration: none;
                        font-family: "Inter";
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 25px;
                        color: $third;
                        text-align: center;
                    }
                }
                .button_right {
                    border: 1px solid;
                    border-color: $secundary;
                    border-radius: 8px;
                    background-color: $secundary;
                    text-decoration: none;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    a {
                        text-decoration: none;
                        font-family: "Inter";
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 25px;
                        color: $third;
                        text-align: center;
                    }
                }
            }
        }
    }
    .mostrar {
        display: block;
    }
    .ocultar {
        display: none;
    }
}
