@import "variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0px;

    .container {
        width: 100%;
        height: fit-content;
        background: linear-gradient(180deg, #0e1647 0%, #0a1033 100%);
        display: flex;
    }
}
