@import "variables";
@import "general";

body {
    .container {
        height: 100vh;
        align-items: center;
        justify-content: center;

        .splash {
            width: 180px;
            height: 132px;
        }
    }
}
