@import "variables";
@import "general";

body {
    .container {
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;

        .bg_img {
            position: relative;

            .lines {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                margin-top: 26px;

                img {
                    width: 100%;
                }
            }

            .fighter {
                height: 388px;
                width: 100%;
                text-align: center;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                margin-top: 26px;
            }
        }

        .header {
            display: flex;
            flex-direction: column;
            z-index: 2;

            h1 {
                text-align: center;
                font-family: "Rajdhani";
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 40px;
                color: $third;
                padding: 0px 58px;
                margin: 0px;
            }

            p {
                text-align: center;
                font-family: "Inter";
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
                color: $third;
                padding: 0px 64px;
                margin: 0px;
                margin-top: 16px;
            }

            .btn {
                border-radius: 8px;
                background-color: $secundary;
                margin: 0px auto;
                margin-top: 48px;
                margin-bottom: 30px;

                a {
                    display: flex;
                    text-decoration: none;
                    align-items: center;

                    .discord {
                        padding: 19px 16px;
                        border-right: 1px solid $line;
                        height: 100%;
                        display: flex;
                    }

                    span {
                        font-family: "Inter";
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 25px;
                        color: $third;
                        width: 100%;
                        text-align: center;
                        padding: 0px 40px;
                    }
                }
            }
        }
    }
}
