@import "variables";
@import "general";

.container {
    flex-direction: column;
    padding-right: 24px;
    padding-left: 24px;

    .item_server {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;

        .text {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 20px;

            h1 {
                font-family: "Rajdhani";
                font-size: 18px;
                font-weight: 700;
                color: $third;
                margin: 0px;
            }

            p {
                font-family: "Inter";
                font-size: 13px;
                font-weight: 400;
                line-height: 17px;
                color: $third_2;
                margin: 0px;
            }
        }
    }
    .line {
        right: -84px;
        position: relative;
        background: linear-gradient(270deg, #1d2766 0%, #171f52 100%);
        width: 100%;
        height: 1px;
        margin-top: 12px;
        margin-bottom: 12px;
    }
}
