@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

$white: #ffffff;
$primary: #1D2452;
$secundary: #E51C44;
$third: #DDE3F0;
$third_light: #DCDCE5;
$third_dark: #666666;
$line: #991F36;